# Path: modules/check_path/check_path.toml.template
#
# Cấu hình mặc định cho cpath (Path Checker)
#

[{config_section_name}]

# Các đuôi file mà cpath sẽ quét.
# Định dạng: Mảng các chuỗi (Array of Strings).
extensions = {toml_extensions} # <-- Sẽ được format thành ["py", "js", ...]

# Danh sách các pattern (FNMATCH) sẽ bị bỏ qua (ngoài .gitignore).
ignore = {toml_ignore}